<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div class="container">
      <h1>This Teapot Right Here</h1>
      <div class="jumbotron text-center">
        <img src="<%= oneTeapot.url %>" />
        <p>Teapot: <%= oneTeapot.nameOfTeapot %> </p>
        <p>Material: <%= oneTeapot.material %> </p>
        <p>Write Up: <%= oneTeapot.writeUp %> </p>
        <p> Submitted by: <%= oneTeapot.submitted_by %> </p>
      </div>
      <h2> Comments </h2>
      <% for (let comment of comments )  { %>
        <p> <%= comment.author %> : <%= comment.content %> </p>
        <form action="/comments/<%=comment._id%>?_method=DELETE" method=post>
          <button>Delete comment</button>
        </form>
      <% } %>

      <h3>Add a Comment</h3>

      <form action="/comments" method="post">
        <label for="author">User </label>
        <input type="text" name="author"/>
        <label for="content">Comment </label>
        <input type="text" name="content"/>
        <input type="hidden" name="teapot" value="<%= oneTeapot._id %>"/>
        <input type="submit" name="submit" class="btn btn-info"/>
      </form>

      <a class="btn btn-info" href="/teapots/<%=oneTeapot._id%>/edit">Edit this teapot</a>

      <form action="/teapots/<%=oneTeapot.id%>?_method=DELETE" method=POST>
        <button class="btn btn-danger">Delete this teapot</button>
      </form>

      <br/>

      <a href="/teapots">Go Home</a>
    </div>
  </body>
</html>
